<div class="p-4 bg-white border-t">
  <div id="messages" class="p-4 bg-white border-t space-y-4">
    <% @messages.each do |message| %>
      <%= render partial: "messages/message", locals: { message: message } %>
    <% end %>
  </div>
  <%= form_with url: create_message_chats_path, method: :post, data: { turbo: "true" }, class: "flex space-x-4" do |f| %>
    <textarea
      name="message"
      placeholder="Ask a question..."
      rows="2"
      class="flex-1 p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 resize-none"
    ></textarea>
    <button
      type="submit"
      class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow hover:bg-blue-600 transition"
    >
      Send
    </button>
  <% end %>
</div>
